<footer class="site-footer">

    <div class="wrapper">
        <div class="footer-col-wrapper">
            <div class="footer-col footer-col-1">
                <p>{{ site.tagline }}</p>
            </div>
            <div class="footer-col footer-col-2">
                <p>{% include icon-github.html username=site.github_username %}</p>
            </div>
            <div class="footer-col footer-col-3">
                <p>{% include icon-twitter.html username=site.twitter_username %}</p>
            </div>
        </div>
    </div>

</footer>
